# Python
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log

# System files
.DS_Store
Thumbs.db


# Database
*.db
*.sqlite3


